.bar {
  fill: dodgerblue;
}

.bar:hover {
  fill: darkorange;
}

.axis {
  font: 16px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  stroke-width: 4px;
  shape-rendering: crispEdges;
}
.axis text {
	font-size: 20px
}

.y.axis path {
  display: none;
}

.x.label {
    font:20px sans-serif;
    font-weight:bold;
}
.y.label {
    font:20px sans-serif;
    font-weight:bold;
}
.legend.text {
    font:14px sans-serif;
    font-weight:bold;
}

/* 'rect' element fill for gg-style y axis, taken from http://bl.ocks.org/mbostock/3892919 */
.background {
    fill: #ddd;
}
